.video {

  &-section {
    padding: 20px 15px;
    width: 100%;

  }

  &-wrapper {
    &-icon {
      font-size: 50px !important;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &-img {
      object-fit: cover;
    }
  }
}
